#root {
  height: 100vh;
  width: 100vw;
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem;
  text-align: center; */
}

@font-face {
  font-family:"pokemonRegular";
  src: url('../src/assets/fonts/pokemon_solid.ttf');
}

@font-face {
  font-family:"pokemonHollow";
  src: url(pokemon_hollow.ttf);
}

h1{
  font-family: 'pokemonRegular';
  color:#ed3b5d;
}